{% extends 'app/index.html' %} 

{% load static %} 

{% block title %} Password Reset Complete {%endblock title %} 

{% block banner_slider %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
           <h3>Reset Password Complete</h3>
            <div>
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock banner_slider %}